[submodule "Astra.Hosting"]
	path = Astra.Hosting
	url = https://github.com/Project-Astra-Dev/Astra.Hosting.git
[submodule "Astra.Hosting.EntityFramework"]
	path = Astra.Hosting.EntityFramework
	url = https://github.com/Project-Astra-Dev/Astra.Hosting.EntityFramework.git
